h1,
h2 {
    color: rgb(50, 26, 72);
    font-family: Georgia;
    font-size: xx-large;
    font-weight: bolder;
}

ol,
ul,
li {
    color: darkviolet;
    font-family: cursive;
    font-weight: bold;
}